<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Genres</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script defer src="/script.js"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            background-color: #f4f4f9;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            min-height: 100vh;
        }

        h1 {
            font-size: 2.5rem;
            color: #333;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        #genreSelect {
            padding: 10px 15px;
            font-size: 1rem;
            margin-bottom: 30px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #fff;
        }

        .movie-title {
    width: 200px; 
    margin: 10px 0;
    white-space: normal; 
    overflow: hidden; 
    word-wrap: break-word; 
    font-size: 1rem;
    line-height: 1.4;
    text-align: center; 
    height: auto; 
}


.container {
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    margin-top: 10px;
}

canvas {
    width: 100% !important;
    height: auto !important;
    max-width: 1100px;
    max-height: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 30px 0; 
    align-self: center; 
}

        .movie-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
        }

        .movie-item {
            width: 200px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div style="width: 100%; text-align: center; margin-bottom: 50px; padding-top: 50px; padding-bottom: 50px; border-bottom: 1px solid #b0c4d2;  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);">
        <h1 style="font-size: 3rem; color: #2c3e50; margin: 0; font-family: 'Arial', sans-serif; font-weight: bold; text-transform: uppercase; letter-spacing: 2px;">
            TMDB 장르별 영화 평점 시각화 
        </h1>
    </div>
    <div class="container">
        <!-- <h1>Select a Genre</h1> -->
        <select id="genreSelect">
            <option value="" disabled selected>장르선택</option>
            <% genres.forEach(genre => { %>
                <option value="<%= genre.id %>"><%= genre.name %></option>
            <% }) %>
        </select>

        <div id="moviesList" class="movie-list">
            
        </div>

        <canvas id="moviesChart"></canvas>
    </div>

    
</body>
</html>
